<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
		<title>Angles</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<style type="text/css">
			body {margin:0;}
		</style>
		<script type="text/javascript" src="/javascripts/raphael.js"></script>
		<script type="text/javascript" src="/javascripts/path.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				var paper = Raphael("drawing-area", 600, 600);
				paper.rect(0, 0, 600, 600).attr({fill: "#060"});
				
				var px = 200;
				var py = 200;
				
				var fixed_path = paper.path("M200 200l0 100").attr({"stroke-width": 3, "stroke-linecap": "round"});
				var fixed_end_pos = [200, 300];
				var move_path = paper.path().attr({"stroke-width": 3, "stroke": "#006", "stroke-linecap": "round"});
				var path_base = "M200 200l";
				
				show_angle = function(angle) {
					document.getElementById('current-angle').innerHTML = angle;
				};
				
				document.getElementById("drawing-area").onmousemove = function(e) {
					var pos = [e.clientX, e.clientY];
					
					var dx = px - pos[0];
					var dy = py - pos[1];
					
					var angle = Math.atan2(dy, dx);
					
					var rx = -100 * Math.cos(angle);
					var ry = -100 * Math.sin(angle);
					
					var angle2 = Math.atan2(py - fixed_end_pos[1], px - fixed_end_pos[0]);
					var angle_between = angle - angle2;
					
					if (angle_between < 0) angle_between += 2 * Math.PI;
					if (angle_between > Math.PI) angle_between -= 2 * Math.PI;
					
					show_angle((angle_between * 180 / Math.PI) + "<br />" + angle + ' - ' + angle2);
					
					move_path.attr("path", path_base + rx + " " + ry);
				};
				
				document.getElementById("drawing-area").onclick = function(e) {
					var pos = [e.clientX, e.clientY];

					var dx = px - pos[0];
					var dy = py - pos[1];

					var angle = Math.atan2(dy, dx);

					var rx = -100 * Math.cos(angle);
					var ry = -100 * Math.sin(angle);
					
					fixed_end_pos = [200 + rx, 200 + ry];
					fixed_path.attr("path", path_base + rx + " " + ry);
				};
			};
		</script>
	</head>
	<body>
		<div id="drawing-area" style="float:left"></div>
		<div id="current-angle" style="float:left;margin-left:10px"></div>
	</body>
</html>