<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
		<title>Douglas Peucker - Path Simplification</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<style type="text/css">
			body {margin:0;}
		</style>
		<script type="text/javascript" src="/javascripts/raphael.js"></script>
		<script type="text/javascript" src="/javascripts/path.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				var paper = Raphael("drawing-area", 600, 600);
				var simplified, current_path, path_info, marks;
				var tolerance = 30;
				
				reset = function() {
					paper.clear();
					paper.rect(0, 0, 600, 600).attr({fill: "#060"});
					
					sample_circle = paper.circle(0, 0, tolerance).attr({fill: "none", stroke: "#000"});
					
					simplified = false;
					current_path = paper.path().attr({"stroke-width": 4});
					path_info = [];
					marks = paper.set();
				};
				
				reset();
				
				draw_path = function(pi, curved) {
					curved = curved || false;
					
					if(pi.length > 1) {
						var p = "M" + pi[0].join(' ');
						
						for (var i = 1; i < pi.length; i++) {
							p += (curved ? "C" : "L") + pi[i].join(' ');
						}
						
						current_path.attr({path: p});
					}
					
					if (curved) {
						marks.remove();
						
						paper.rect((pi[0][0]) - 3, (pi[0][1]) - 3, 5, 5).attr({fill: "white"});
						
						rects = paper.set();
						
						for (var i = 1; i < pi.length; i++) {
							var p = pi[i];
							var pre = pi[i - 1];
							
							paper.path("M" + (pre[4] || pre[0]) + " " + (pre[5] || pre[1]) + "L" + p[0] + " " + p[1]).attr({"stroke":"cyan"});
							paper.circle(p[0], p[1], 2).attr({"fill": "cyan", "stroke": "none"});
							paper.path("M" + p[4] + " " + p[5] + "L" + p[2] + " " + p[3]).attr({"stroke":"cyan"});
							paper.circle(p[2], p[3], 2).attr({"fill": "cyan", "stroke": "none"});
							rects.push(paper.rect(p[4] - 3, p[5] - 3, 5, 5).attr({fill: "white"}));
						}
						
						rects.toFront();
					}
				};
				
				document.getElementById("drawing-area").onmousemove = function(e) {
					sample_circle.attr({cx: e.clientX, cy: e.clientY});
				};
				
				document.getElementById("drawing-area").onclick = function(e) {
					if (simplified) {
						reset();
					}
					
					marks.push(paper.rect(e.clientX - 3, e.clientY - 3, 5, 5).attr({fill: "white"}));
					path_info.push([e.clientX, e.clientY]);
					
					draw_path(path_info);
				};
				
				simplify = function() {
					draw_path(curvedSimplifiedPath(path_info, tolerance), true);
					simplified = true;
				};
			};
		</script>
	</head>
	<body>
		<div id="drawing-area" style="float:left"></div>
		Click in green area to define points, them click <a href='#' onclick="simplify()">here</a> to simplify path.
	</body>
</html>